body, html {background:#262626; font-family:Helvetica; margin:0; position:relative; width:100vw}

.Logout {
	position: absolute;
	top: 1.5%;
	right: 2%;
	width: 9%;
	margin: 0;
	padding: 1% 0;
	background: #1d2d3a;
	color: #E9E9E9;
	text-align: center;
	font-size: 1.5vw;
	text-decoration: none !important;
	border-radius: 1.2vw;
	cursor: pointer;
	transition: all 0.5s ease-in;
}
.Logout:hover {
	background: #1e252e;
	color: #697d9b;
}

.Home {
	display: block;
	width: 90%;
	margin: 0 auto;
}
.Home-Header {
	margin: 2% auto 0%;
	text-align: center;
}
.Home-Logo {
	display:	inline-block;
	width: 6%;
	vertical-align: middle;
}
.Home-Title {
	display: inline-block;
	margin: 0;
	color: #E9E9E9;
	font-size: 3vw;
	text-align: center;
	vertical-align: middle;
}
.Home-Container {
	text-align: center;
}
.Home-Box {
	display: inline-block;
	width: 25%;
	margin: 2% 2%;
	padding: 3% 0;
	background: #1d2d3a;
	color: #E9E9E9;
	text-align: center;
	text-decoration: none !important;
	vertical-align: middle;
	border-radius: 1.5vw;
	transition: background 0.5s ease-in;
}
.Home-Box:hover {
	background: #1e252e;
}
.Home-Box-IMG {
	display: block;
	width: 30%;
	margin: 0% auto;
}
.Home-Box-Title {
	margin: 1% 0;
	text-align: center;
	font-size: 3vw;
	font-weight: 300;
}